.card {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 16px 0px 16px;
  margin: auto;
  text-align: center;
}

label {
  text-align: left;
}

.ui.primary.button {
  cursor: default;
}
