#content {
  height: calc(100vh - 100px);
  padding: 10px;
  overflow-y: scroll;
}

.container {
  height: 100%;
  display: flex;
}

/* for some reason semantic menus have default margin */
.ui.item.menu {
  margin: 0;
}
.ui.button {
  margin: 0 !important;
}

.bubble {
  fill: orange;
}

.line {
  fill: none;
  stroke: orange;
  stroke-width: 2px;
}

.box {
  fill: white;
  stroke: orange;
  stroke-width: 2px;
}
